* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    font-family: Arial, sans-serif;
    color:#333;
    background:#f5f6f8;
    line-height:1.6;
}


/* HEADER */

header {
    background:#071d33;
    color:white;
    padding:15px 40px;
}


nav {
    display:flex;
    align-items:center;
    justify-content:space-between;
    flex-wrap:wrap;
}


.brand h1 {
    color:white;
    font-size:24px;
}


nav ul {
    display:flex;
    list-style:none;
    gap:25px;
}


nav a {
    color:white;
    text-decoration:none;
    font-weight:bold;
}


nav a:hover {
    color:#d4a017;
}


/* HERO */

.hero {

    min-height:300px;

    display:flex;

    justify-content:center;

    align-items:center;

    text-align:center;

    color:white;


    background:
    linear-gradient(
    rgba(0,0,0,.65),
    rgba(0,0,0,.65)
    ),
    url("https://images.unsplash.com/photo-1541888946425-d81bb19240f5?w=1600");


    background-size:cover;

    background-position:center;

}


.hero-content {
    padding:30px;
}


.hero h2 {
    font-size:45px;
}


.hero p {
    font-size:20px;
}



/* CONTACT */

.contact {

    max-width:900px;

    margin:60px auto;

    padding:30px;

}


.contact h2 {

    text-align:center;

    color:#071d33;

    margin-bottom:30px;

}



.contact form {

    background:white;

    padding:40px;

    border-radius:12px;

    box-shadow:0 10px 25px rgba(0,0,0,.1);

}



.contact input,
.contact select,
.contact textarea {

    width:100%;

    padding:15px;

    margin-bottom:20px;

    border:1px solid #ddd;

    border-radius:5px;

    font-size:16px;

}



.contact textarea {

    height:150px;

}



.contact button {

    width:100%;

    padding:15px;

    background:#d4a017;

    border:none;

    font-weight:bold;

    cursor:pointer;

}



.contact-info {

    margin-top:30px;

    background:#071d33;

    color:white;

    padding:25px;

    border-radius:10px;

}



/* FOOTER */

footer {

    background:#050505;

    color:white;

    text-align:center;

    padding:25px;

}



/* MOBILE */

@media(max-width:768px){

nav {

    flex-direction:column;

}


nav ul {

    margin-top:20px;

    flex-direction:column;

    text-align:center;

}


.hero h2 {

    font-size:32px;

}

}
