* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background: #0a2f5c;
    color: white;
    padding: 20px 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    font-size: 28px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background: linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)
    ),
    url("https://images.unsplash.com/photo-1504307651254-35680f356dfd?w=1600");

    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 150px 20px;
}

.hero h2 {
    font-size: 55px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 22px;
    margin-bottom: 30px;
}

.hero a {
    background: #f5b400;
    color: black;
    padding: 15px 35px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.about,
.services,
.cta {
    max-width: 1200px;
    margin: 70px auto;
    padding: 20px;
}

.about h2,
.services h2,
.cta h2 {
    color: #0a2f5c;
    margin-bottom: 20px;
}

.services div {
    background: white;
    padding: 25px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.services h3 {
    color: #0a2f5c;
    margin-bottom: 10px;
}

.cta {
    text-align: center;
}

.cta a {
    display: inline-block;
    margin-top: 20px;
    background: #0a2f5c;
    color: white;
    padding: 15px 35px;
    text-decoration: none;
    border-radius: 5px;
}

footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 25px;
}

@media(max-width: 768px) {

    nav {
        flex-direction: column;
    }

    nav ul {
        margin-top: 20px;
        flex-direction: column;
        text-align: center;
    }

    .hero h2 {
        font-size: 35px;
    }
}
